<div *ngIf="guitar" class="card">
    <mat-card appearance="outlined" class="guitar-card">
        <mat-card-header>
            <mat-card-title>
                {{guitar?.maker}} {{guitar?.model}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>Introduced: {{guitar?.introduced}}</div>
            <div *ngIf="guitar?.notableUser1 || guitar?.notableUser2 || guitar?.notableUser3">Notable Users: 
                <mat-chip-set>
                    <mat-chip *ngIf="guitar?.notableUser1">{{guitar?.notableUser1}}</mat-chip>
                    <mat-chip *ngIf="guitar?.notableUser2">{{guitar?.notableUser2}}</mat-chip>
                    <mat-chip *ngIf="guitar?.notableUser3">{{guitar?.notableUser3}}</mat-chip>
                </mat-chip-set>
            </div>
            <div *ngIf="guitar?.feature1 || guitar?.feature2 || guitar?.feature3 || guitar?.feature4 || guitar?.feature5">Features: 
                <mat-chip-set>
                    <mat-chip *ngIf="guitar?.feature1">{{guitar?.feature1}}</mat-chip>
                    <mat-chip *ngIf="guitar?.feature2">{{guitar?.feature2}}</mat-chip>
                    <mat-chip *ngIf="guitar?.feature3">{{guitar?.feature3}}</mat-chip>
                    <mat-chip *ngIf="guitar?.feature4">{{guitar?.feature4}}</mat-chip>
                    <mat-chip *ngIf="guitar?.feature5">{{guitar?.feature5}}</mat-chip>
                </mat-chip-set>
            </div>
            <div>Description: {{guitar?.popularity}}</div>
            <div *ngIf="guitar?.finish1 || guitar?.finish2 || guitar?.finish3">Finishes: 
                <mat-chip-set>
                    <mat-chip *ngIf="guitar?.finish1">{{guitar?.finish1}}</mat-chip>
                    <mat-chip *ngIf="guitar?.finish2">{{guitar?.finish2}}</mat-chip>
                    <mat-chip *ngIf="guitar?.finish3">{{guitar?.finish3}}</mat-chip>

                </mat-chip-set>
            </div>
        </mat-card-content>
    </mat-card>
</div>