/* .mat-card-header {
    background-color: blue;
} */
/* .card {
    display: flex;
    max-width: 25%;

    justify-content: space-between;

    .guitar-card {

    } 
} */
/* 
.guitar-card {
    max-width: 25%;
    margin: 0;
    background-color: red;
} */