.card {
    margin: 40px;
    width: 450px;
}

mat-card {
    border-color: transparent;
    width: 100%;
}

mat-divider {
    background-color: black;
    width: 100%;
    justify-content: center;
    margin: 2% auto;
}

mat-card-header {
    display: flex;
    flex-direction: column;
}

mat-panel-title {
    color: black;
    border-radius: 5%;
}

.title {
    display: flex;
    justify-content: space-between;
}

.introduced {
    font-size: 75%;
}

.notable-users-title, .maker-model, .notable-users-title, .features-title, .description-title, .finishes-title {
    font-weight: 500;
    margin: 2%, 2%, 2%, 2%;
    color: black;
}

m.content-section {
    margin-bottom: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: column; /* Ensure vertical stacking */
    flex-grow: 1; /* Allow content to expand vertically */
}

mat-chip-set {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap; /* Allow chips to wrap to a new line */
    gap: 5px; /* Adds space between chips */
    color: black !important;
    flex-grow: 1; /* Allow chip set to expand vertically */
    align-items: flex-start; /* Align chips at the top */
}

mat-chip {
    color: black !important;
    padding: 5px;
    max-height: none; /* Remove any max-height limitation */
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure text can break */
    word-break: break-word; /* Ensure words are properly broken */
    display: flex; /* Allow chips to grow based on content */
    align-items: flex-start; /* Align text to the top of the chip */
    justify-content: flex-start; /* Align text to the left */
    overflow: visible; /* Prevent text clipping */
    flex: 1 1 auto; /* Allow chips to grow based on content */
}

.chip-container {
    display: block;
    width: 100%;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Break long words */
    overflow: visible; /* Prevent clipping */
    word-break: break-word; /* Ensure words wrap properly */
}
.content-section, .no-content {
    margin-bottom: 2%;
    margin-top: 2%;
}


.mat-mdc-standard-chip {
    --mdc-chip-label-text-color: #000000;
}

.mat-mdc-chip {
    background-color: #ffffff !important;
    
}

.stacked-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
  }

.brand-logo {
    height: 48px;
    margin-right: 10px;
    max-width: 100%;
    object-fit: contain;
}
.guitar-image {
    height: 100px;
}

.guitar-model {
    font-size: 24px;
}
.mat-header {
    min-height: 350px;
    display: flex;
}

mat-expansion-panel {
    width: 100%;
}

.chevron {
    width: 48px;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.highlight {
    background-color: yellow; /* Highlight color */
}