<div *ngIf="guitar" class="card">
    <mat-expansion-panel hideToggle [ngStyle]="{'background': guitar.color}">
        <mat-expansion-panel-header appearance="outlined" class="mat-header" [ngStyle]="{'background': guitar.color}">
            <mat-panel-title class="stacked-content"  (click)="rotateChevron()">
                <img class="brand-logo" [src]="getBrandLogo(guitar.maker)" alt="{{guitar?.maker}} Logo">
                <!-- <p class="guitar-maker" [innerHTML]="highlightKeywords(guitar.maker)">Brand:{{guitar.maker}}</p>
                  -->
                <div>
                  <p class="guitar-maker" [innerHTML]="highlightKeywords('Brand: ' + guitar.maker)">{{guitar.maker}}</p>
                </div>
                <img class="guitar-image" [src]="getGuitarImage(guitar.maker+'-'+guitar.model)" alt="{{guitar?.model}} image" class="guitar-image">

                <p class="guitar-model" [innerHTML]="highlightKeywords('Model: ' + guitar.model)">{{guitar.model}}</p>
                <div class="show-more-container">
                    <span class="show-more-label">More Details</span>
                    <img class="chevron" src="../assets/images/chevron.png" [style.transform]="'rotate('+rotationAngle+'deg)'">
                </div>
  
            </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-card appearance="outlined" class="guitar-card" [ngStyle]="{'background': guitar.color}">
            <mat-card-content>
                <div class="content-section">
                    <div class="notable-users-title">
                        Notable Users
                    </div>
                    <mat-chip-set *ngIf="guitar?.notableUser1 || guitar?.notableUser2 || guitar?.notableUser3; else no_notable_users">
                        <mat-chip *ngIf="guitar?.notableUser1">
                            <!-- <p [innerHTML]="highlightKeywords(guitar.notableUser1)"></p>
                              -->
                              <div class="chip-container" [innerHTML]="highlightKeywords(guitar.notableUser1)"></div>

                        </mat-chip>
                        <mat-chip *ngIf="guitar?.notableUser2">
                            <!-- <p [innerHTML]="highlightKeywords(guitar.notableUser2)"></p> -->
                            <div class="chip-container" [innerHTML]="highlightKeywords(guitar.notableUser2)"></div>

                        </mat-chip>
                        <mat-chip *ngIf="guitar?.notableUser3">
                            <!-- <p [innerHTML]="highlightKeywords(guitar.notableUser3)"></p> -->
                            <div class="chip-container" [innerHTML]="highlightKeywords(guitar.notableUser3)"></div>

                        </mat-chip>
                    </mat-chip-set>
                    <ng-template #no_notable_users class="no-content">
                        <mat-chip-set>
                            <mat-chip>No notable users :&#40;</mat-chip>
                        </mat-chip-set>

                    </ng-template>
                    <mat-divider/>
                </div>

                <div class="content-section">
                    <div class="features-title">
                        Features
                    </div>
                    <mat-chip-set *ngIf="guitar?.feature1 || guitar?.feature2 || guitar?.feature3 || guitar?.feature4 || guitar?.feature5; else no_features">
                        <mat-chip *ngIf="guitar?.feature1">
                            <div class="chip-container" [innerHTML]="highlightKeywords(guitar.feature1)"></div>

                            <!-- <p [innerHTML]="highlightKeywords(guitar.feature1)"></p> -->
                        </mat-chip>
                        <mat-chip *ngIf="guitar?.feature2">
                            <div class="chip-container" [innerHTML]="highlightKeywords(guitar.feature2)"></div>

                            <!-- <p [innerHTML]="highlightKeywords(guitar.feature2)"></p> -->
                        </mat-chip>
                        <mat-chip *ngIf="guitar?.feature3">
                            <div class="chip-container" [innerHTML]="highlightKeywords(guitar.feature3)"></div>

                            <!-- <p [innerHTML]="highlightKeywords(guitar.feature3)"></p> -->
                        </mat-chip>
                        <mat-chip *ngIf="guitar?.feature4">
                            <div class="chip-container" [innerHTML]="highlightKeywords(guitar.feature4)"></div>

                            <!-- <p [innerHTML]="highlightKeywords(guitar.feature4)"></p> -->
                        </mat-chip>
                        <mat-chip *ngIf="guitar?.feature5">
                            <div class="chip-container" [innerHTML]="highlightKeywords(guitar.feature5)"></div>

                            <!-- <p [innerHTML]="highlightKeywords(guitar.feature5)"></p> -->
                        </mat-chip>
                    </mat-chip-set>
                    <ng-template #no_features>
                        <mat-chip-set>
                            <mat-chip>No features...weird :&#47;</mat-chip>
                        </mat-chip-set>
                    </ng-template>
                    <mat-divider/>
                </div>
                <div class="content-section">
                    <div class="description-title">
                        Description: 
                    </div>
                    <mat-chip *ngIf="guitar?.popularity; else no_description" 
                        class="description">
                            <div class="chip-container" [innerHTML]="highlightKeywords(guitar.popularity)"></div>
                    </mat-chip>
                    <ng-template #no_description>
                        <mat-chip>No description available :&#40;</mat-chip>
                    </ng-template>
                </div>
            </mat-card-content>

        </mat-card>
    </mat-expansion-panel>
</div>