<div class='guitar-card'>
    <h3>{{guitar?.maker}}</h3>
    <p>{{guitar?.model}}</p>
    <p>{{guitar?.introduced}}</p>
    <p>{{guitar?.notableUser1}}</p>
    <p>{{guitar?.notableUser2}}</p>
    <p>{{guitar?.notableUser3}}</p>
    <p>{{guitar?.feature1}}</p>
    <p>{{guitar?.feature2}}</p>
    <p>{{guitar?.feature3}}</p>
    <p>{{guitar?.feature4}}</p>
    <p>{{guitar?.feature5}}</p>
    <p>{{guitar?.popularity}}</p>
    <p>{{guitar?.dates}}</p>
    <p>{{guitar?.finish1}}</p>
    <p>{{guitar?.finish2}}</p>
    <p>{{guitar?.finish3}}</p>
    <p>{{guitar?.finish4}}</p>
    <p>{{guitar?.finish5}}</p>


</div>