<div class="main">
    <div class="content">
        <div class="header">
            <h1 class="title">{{title}}</h1>
            <div> Search for guitars by entering keywords separated by commas.</div>
            <br/>
            <div> For example, search for brands (Fender, Gibson), guitarists (Jimi Hendrix) and guitar features (tremolo, floating bridge).</div>
            <br/>
            <div> Please note: Guitar images may not be entirely accurate!</div>
            <app-guitar-form class="guitar-form"></app-guitar-form>
        </div>

        <div class="card-container">
            <app-guitar-cards class="guitar-cards"></app-guitar-cards>
        </div>
    </div>
</div>
