.main {
    background-image: url('../assets/images/geetah.png');
    background-position: center top;
    min-height: 150vh;
    background-position: center -100px;
}

.header, .guitar-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;

}

.fetch-indicator {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
}

.fetch-title {
    margin-bottom: 10px;
    font-size: 24px;
}

.fetch-spinner {
    width: 1px;
    height: 1px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0%;
    margin-left: 5px;
    /* position: absolute; */
}

.kaggle-block a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.kaggle-block {
    gap: 5px;
}

.kaggle-block a:hover {
    text-decoration: underline;
}

.github-logo {
    width: 36px;
    height: 36px;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    /* fill: #000000; */
}

.github-logo:hover {
    background-color: #007bff;
}

.kaggle-block, .github-block {
    display: flex;
    align-items: center;
}