.main {
    background-image: url('../assets/images/geetah.png');
    background-position: center top;
    min-height: 150vh;
    background-position: center -100px;
}

.header, .guitar-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;

}

.subtitle {
    font-size: 20px;
}

.mini-title {
    font-size: 18px;
}

.fetch-indicator {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
}

.fetch-title {
    margin-bottom: 10px;
    font-size: 24px;
    background-color: rgba(184, 183, 182, 0.35) ;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
}

.fetch-spinner {
    width: 1px;
    height: 1px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0%;
    margin-left: 5px;
    /* position: absolute; */
}

.kaggle-block a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.kaggle-block {
    gap: 5px;
}

.kaggle-block a:hover {
    text-decoration: underline;
}

.github-logo {
    width: 36px;
    height: 36px;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    /* fill: #000000; */
}

.github-logo:hover {
    background-color: #007bff;
}

.kaggle-block, .github-block {
    display: flex;
    align-items: center;
}

.tip-a {
    background-color: rgba(196, 108, 240, 0.3);
    padding: 10px;
    border-radius: 15px;
}

.tip-b {
    background-color: rgba(42, 222, 186, 0.3);
    padding: 10px;
    border-radius: 15px;
}

.brand-tip-a {
    background-color: rgba(114, 193, 242, 0.3);
    padding: 10px;
    border-radius: 15px;
}

.brand-tip-b {
    background-color: rgba(255, 99, 71, 0.3);
    padding: 10px;
    border-radius: 15px;
}

.brand-tip-c {
    background-color: rgba(34, 139, 34, 0.3);
    padding: 10px;
    border-radius: 15px;
}

.brand-tip-d {
    background-color: rgba(255, 165, 0, 0.3);
    padding: 10px;
    border-radius: 15px;
}

.brand-tip-e {
    background-color: rgba(139, 69, 19, 0.3);
    padding: 10px;
    border-radius: 15px;
}

.tip-a:hover,
.tip-b:hover,
.brand-tip-a:hover, 
.brand-tip-b:hover, 
.brand-tip-c:hover, 
.brand-tip-d:hover, 
.brand-tip-e:hover {
    cursor: pointer;
}
