<div class="main">
    <div class="content">
        <div class="header">
            <h1 class="title">{{title}}</h1>
            <p class="subtitle">  
                Start typing to search for guitars! Try beginning with a popular brand like
                <span class="brand-tip-a" (click)="fillSearch('Fender')">Fender</span>,
                <span class="brand-tip-b" (click)="fillSearch('Gibson')">Gibson</span>,
                <span class="brand-tip-c" (click)="fillSearch('Gretsch')">Gretsch</span>,
                <span class="brand-tip-d" (click)="fillSearch('Ibanez')">Ibanez</span>, and
                <span class="brand-tip-e" (click)="fillSearch('Taylor')">Taylor</span>.
                Click on a brand name to start your search!
            </p>
            <p class="subtitle">
                To refine your search, add more keywords (separate with commas). For example:
                <span class="tip-a" (click)="fillSearch('Fender, Stratocaster')">"Fender, Stratocaster"</span>                 
            </p>
            <app-guitar-form [selectedBrand]="selectedBrand" class="guitar-form"></app-guitar-form>
            <p class="subtitle">
                More searches you can try: 
                <span class="tip-b" (click)="fillSearch('Fender, Jimi Hendrix')">"Fender, Jimi Hendrix"</span>,
                <span class="tip-b" (click)="fillSearch('Beginner')">"Beginner"</span>,
                <span class="tip-b" (click)="fillSearch('Rock, Metal')">"Rock, Metal"</span>,
                <span class="tip-b" (click)="fillSearch('Ibanez, Fast')">"Ibanez, Fast"</span>
            </p>
        </div>

        
        <div class="card-container">
            <app-guitar-cards class="guitar-cards"></app-guitar-cards>
        </div>

        <ng-container *ngIf="dataLoading">
            <div class="fetch-indicator">
                <div class="fetch-title">Grabbing data, please wait &#40;server may need spinning up&#41;</div>
                <mat-spinner class="fetch-spinner"/>
            </div>

        </ng-container>
    </div>

    <br/>
    <br/>
    <div class="footer">
        <div class="kaggle-block">
            Data from <a href="https://www.kaggle.com/datasets/thebumpkin/small-guitar-model-dataset-113-models" target="_blank"> kaggle</a>
        </div>
        <div class="github-block">
            Source code: 
            <a href="https://github.com/kermattc/electric-guitar-backend" target="_blank">
                <img class="github-logo" src="../assets/images/github-logo.svg"/>
            </a>
        </div>
    </div>
</div>
