<div class="form-container">
    <mat-form-field>
        <mat-label>Enter keywords separated by commas</mat-label>
        <input matInput id="input-field" type="text" [formControl]="searchControl" placeholder="Fender, Gibson, Jimi Hendrix, Tremolo, Floating bridge...,">
    </mat-form-field>
</div>

<ng-container *ngIf="guitarsList && guitarsList.length > 0 else noGuitars;">
    <div class="cards-container">
        <app-guitar-cards
            *ngFor="let guitar of guitarsList | slice:0:visibleCards"
            [guitar]="guitar"
            class="guitar-cards"
        >
        </app-guitar-cards>
    </div>


    <button mat-raised-button class="showMoreButton" mat-raised-button (click)="onShowMore()">Show More</button>
</ng-container>

<ng-template #noGuitars>
    <p *ngIf="searchControl.value">No guitars found :&#40;</p>
</ng-template>
