mat-form-field, .form-container {
    width: 75vw;
}

mat-label, input {
    color: black !important;
}

.mdc-text-field--focused input::placeholder {
    opacity: 0.7 !important;
    color: black !important;
}


.mdc-text-field,
.mat-mdc-form-field-flex { 
    background-color: #f2f4f5 !important;
    color: black;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.guitar-cards {
    width: 25%;
    display: flex;
    // justify-content: center;
}

// @mixin random-bgr() {
//     background: rgb(random(255), random(255), random(255));
// }

// $colors: red, orange, yellow, green, blue, purple;

// app-guitar-cards:nth-child{
//         background-color: rgb(random(255),random(255),random(255)) !important;            
// }