mat-form-field, .form-container {
    width: 75vw;
}

mat-label, input {
    color: black !important;
}

.mdc-text-field--focused input::placeholder {
    opacity: 0.7 !important;
    color: black !important;
}


.mdc-text-field,
.mat-mdc-form-field-flex { 
    background-color: #e0e0e0 !important;
    color: black;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.guitar-cards {
    width: 25%;
    display: flex;
}

button[mat-raised-button] {
    // background-color: red ;
    margin-top: 100px;
    width: 150px;
    height: 75px;
    font-size: 20px;
}